<template>
  <div>
    <div v-if="response !== null">
      <b-table v-if="people.length > 0" :items="people" :fields="fields" />
      <div v-else>Ничего не найдено</div>
    </div>
    <div v-else>Поиск...</div>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  data() {
    return {
      response: null,
      fields: [
        { key: "name", label: "Имя", sortable: true },
        { key: "height", label: "Рост" },
        { key: "mass", label: "Вес" },
        { key: "birth_year", label: "Год рождения" },
        { key: "gender", label: "Пол" }
        //birth_year
      ]
    };
  },
  async created() {
    let query = this.$store.state.params.query;
    let result = await axios.get(
      `https://swapi.co/api/people?search=${query}`,
      {
        headers: { accept: "application/json" }
      }
    );
    this.response = result.data;
  },
  computed: {
    people() {
      return this.response.results;
    }
  }
};
</script>