<template>
  <div>
    <div v-if="response !== null">
      По этому запросу было найдено {{authors.length}} авторов.
      <div v-for="author in authors" :key="author.authorid">
        {{author.authordisplay}} <a :href="author['@uri']">(#{{author.authorid}})</a> написал {{(author.works === null) ? 0 : author.works.works.length}} книг
        <br />
      </div>
    </div>
    <div v-else>
        Поиск авторов...
    </div>
  </div>
</template>

<script>
const axios = require('axios')

export default {
  data()
  {
      return {response: null}
  },
  async created() {
        let lastname = this.$store.state.params.lastname
        let result = await axios.get(`https://reststop.randomhouse.com/resources/authors?lastName=${lastname}`)
        this.response = result
      },
  computed: {
    authors() {
      if(this.response.data.author !== undefined) {
        return this.response.data.author
      } else {
        return []
      }
    }
  }
}
</script>