<template>
  <div>
    <div v-if="response !== null">
        {{response.weather.description}}. Ветер {{response.wind_cdir_full.toLowerCase()}}, {{response.wind_spd}} м/с. Температура: {{response.temp}} градусов Цельсия.
        </div>
    <div v-else>Подождите...</div>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  data() {
    return {
      response: null,
      apikey: "053f9073b5c6470d9fa75d8a3350b831"
    };
  },
  async created() {
    let result = await axios.get(
      `https://api.weatherbit.io/v2.0/current?city=Krasnoyarsk&key=${this.apikey}&lang=ru`
    );
    this.response = result.data.data[0]
  },
  computed: {}
};
</script>