<template>
  <b-card>
      <div slot="header">
      <a href="https://swapi.co/">Star Wars</a>
    </div>
    С помощью этой карточки вы можете найти информацию о каком-нибудь персонаже из фильма 'Звездные Войны'.
    <label
      class="mt-2"
    >Введите поисковой запрос</label>
    <b-input v-model="query"></b-input>
    <small>Например: r2, skywalker</small>
    <div slot="footer">
      <b-button @click="queryCard()" style="float: right;" variant="primary">Найти</b-button>
    </div>
  </b-card>
</template>

<script>
export default {
  data() {
    return {
      query: ""
    };
  },
  methods: {
    queryCard() {
      const idx = 1
      this.$store.commit("selectQueryCard", {
        idx: idx,
        params: { query: this.query }
      });
      this.$router.push({ name: "Auxiliary" });
    }
  }
};
</script>

