<template>
  <b-card>
      <div slot="header">
      <a href="http://www.penguinrandomhouse.biz/webservices/rest/">Penguin</a>
    </div>
    С помощью этой карточки вы можете найти информацию о том, сколько книг написал автор с какой-нибудь известной фамилией.
    <label
      class="mt-2"
    >Введите фамилию автора</label>
    <b-input v-model="lastname"></b-input>
    <small>Например: Grisham</small>
    <div slot="footer">
      <b-button @click="queryCard()" style="float: right;" variant="primary">Найти</b-button>
    </div>
  </b-card>
</template>

<script>
export default {
  data() {
    return {
      lastname: ""
    };
  },
  methods: {
    queryCard() {
      const idx = 0;
      this.$store.commit("selectQueryCard", {
        idx: idx,
        params: { lastname: this.lastname }
      });
      this.$router.push({ name: "Auxiliary" });
    }
  }
};
</script>

