<template>
  <b-card>
    <div slot="header">
      <a href="https://www.weatherbit.io/api">WeatherBit</a>
    </div>
    С помощью этой карточки вы можете узнать погоду в Красноярске.
    <div slot="footer">
      <b-button @click="queryCard()" style="float: right;" variant="primary">Узнать</b-button>
    </div>
  </b-card>
</template>

<script>
export default {
  data() {
    return {
      query: ""
    };
  },
  methods: {
    queryCard() {
      const idx = 2
      this.$store.commit("selectQueryCard", {
        idx: idx,
        params: null
      });
      this.$router.push({ name: "Auxiliary" });
    }
  }
};
</script>

