<template>
  <div>
    <b-container>
      <span>&nbsp;</span>
      <b-row>
        <b-col md="6" v-if="$store.state.chosenCard === null" style="margin-top: 10px;">
          <b-card text-variant="white" bg-variant="danger">
            <div slot="header">
              <span class="glyph-mini">
                <span class="glyph-mini-icon flaticon-error"></span>
              </span> Ошибка
            </div>Карточка не выбрана. Невозможно выполнить запрос.
          </b-card>
        </b-col>
        <b-col v-else style="margin-top: 10px;">
          <b-card header="Результат выполнения запроса">
            <component v-if="handler !== null" :is="handler" />
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ApiCards from "@/api-methods.json";
import handlers from "@/components/api/handlers";

const axios = require("axios");
export default {
  data() {
    return {
      handler: null
    };
  },
  components: handlers,
  async created() {
    let idx = this.$store.state.chosenCard;
    if (idx !== null) {
      this.handler = ApiCards[idx].handler;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/glyph-mini.scss";
</style>