<template>
  <div>
    <b-container>
      <span>&nbsp;</span>
      <b-row>
          <b-col v-if="$store.state.currentUser === null" md="6" sm=12 style="margin-top: 10px;">
            <b-card bg-variant="warning">
              <div slot="header">
                <span class="glyph-mini">
                  <span class="glyph-mini-icon flaticon-warning"></span>
                </span> Внимание
              </div>Пользователь не выбран. Для взаимодействия с карточками выберите пользователя.
            </b-card>
          </b-col>
          <b-col v-else-if="$store.state.cards.length === 0" md="6" sm=12 style="margin-top: 10px;">
            <b-card text-variant="white" bg-variant="primary">
              <div slot="header">
                <span class="glyph-mini">
                  <span class="glyph-mini-icon flaticon-info"></span>
                </span> Информация
              </div>У вас нет карточек.
            </b-card>
          </b-col>
          <b-col md=6 sm=12 v-else style="margin-top: 10px;" v-for="cardIdx in $store.state.cards" :key="cardIdx">
              <component :is="ApiArray[cardIdx]['handler']"/>            
          </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import ApiArray from "@/api-methods.json";
import editors from "@/components/params/editors"

export default {
  data() {
    return { ApiArray };
  },
  components: editors,
  methods: {
    queryCard(idx)
    {
      this.$store.commit('selectQueryCard', idx)
      this.$router.push({name: 'Auxiliary'})
    }
  },
  created() {}
};
</script>

<style lang="scss" scoped>
@import '@/assets/glyph-mini.scss';
</style>