<template>
  <div class="custom">
    <b-card>
      <h1>Авторизация</h1>
      <label class="mt-4">Ваш логин</label>
      <b-input v-model="login"></b-input>

      <label class="mt-2">Ваш пароль</label>
      <b-input v-model="password" type="password" class="mt-2"></b-input>
      <b-row>
        <b-col>
          <b-button :disabled="password.length === 0 || login.length === 0" @click="commitLogin" class="mt-4 float-right" variant="primary">Войти</b-button>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: "",
      password: ""
    };
  },
  methods: {
    commitLogin() {
      let makeid = function(length) {
        var result = "";
        var characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(
            Math.floor(Math.random() * charactersLength)
          );
        }
        return result;
      };
      let token = makeid(32);
      localStorage.setItem("token", token);
      this.$router.push({ name: "Dashboard" });
    }
  }
};
</script>

<style lang="scss" scoped>
div.custom {
  //background: black;
  //color: white;
  //border-radius: 1em;
  //padding: 1em;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  div.custom {
    width: 90vw;
  }
}

/* div.custom {
    height: 10em;
    position: relative }
div.custom p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) } */
</style>