<template>
  <div>
    <b-container>
      <span>&nbsp;</span>
      <b-row>
        <b-col class="mt-4" style="margin-top: 10px;">
          <b-card header="Добавить профиль">
            <label class="mt-2">Логин</label>
            <b-input v-model="editingUser.login"></b-input>
            <label class="mt-2">Имя</label>
            <b-input v-model="editingUser.first_name"></b-input>
            <label class="mt-2">Фамилия</label>
            <b-input v-model="editingUser.last_name"></b-input>
            <b-button @click="addUser" variant="primary mt-4" style="float: right;">Создать</b-button>
          </b-card>
        </b-col>
        <b-col class="mt-4" md=6 sm=12 style="margin-top: 10px;">
          <b-card header="Текущий профиль">
            <div v-if="$store.getters.userInfo !== null">
              Логин: {{$store.getters.userInfo['login']}}
              <br />
              Имя: {{$store.getters.userInfo['first_name']}}
              <br />
              Фамилия: {{$store.getters.userInfo['last_name']}}
              <br />
            </div>
            <div v-else>Нет данных</div>
          </b-card>
          <b-card class="mt-4" header="Список пользователей">
            <div v-if="$store.state.users.length !== 0">
              <b-table :items="$store.state.users" :fields="fields"/>
            </div>
            <div v-else>Нет данных</div>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {key: 'login', label: 'Логин'},
        {key: 'first_name', label: 'Имя'},
        {key: 'last_name', label: 'Фамилия'},
      ],
      editingUser: {
        first_name: "",
        last_name: "",
        login: ""
      }
    };
  },
  methods: {
    addUser() {
      this.$store.commit("addUser", { ...this.editingUser });
      this.editingUser = {
        first_name: "",
        last_name: "",
        login: ""
      };
      console.log(this.$store.state.users);
      //this.$store.commit('increment')
    }
  }
};
</script>