<template>
  <div class="custom">
    <b-card>
      <h1>404 Not found</h1>
      <div>Вы можете попытать счаться в <router-link :to="{name: 'login'}">другом месте</router-link></div>
    </b-card>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
div.custom {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  div.custom {
    width: 90vw;
  }
}
</style>