<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-brand>
        <div class="glyph">
          <div class="glyph-icon flaticon-paper-plane"></div>
        </div>
      </b-navbar-brand>
      <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
      <b-navbar-nav class="ml-auto">
        <b-dropdown right variant="dark" split>
          <template slot="button-content">
            <!-- <div @click="$router.push({name: 'Management'})" class="glyph"> -->
            <div @click="navigate('Management')" class="glyph">
              <div class="glyph-icon flaticon-user-3">
                <b-badge class="dot2" pill variant="danger">{{$store.getters.usersCount}}</b-badge>
              </div>
            </div>
          </template>
          <b-dropdown-item @click="showSwitchUserDialog">Сменить пользователя</b-dropdown-item>
          <b-dropdown-item @click="navigate('Dashboard')">На дашборд</b-dropdown-item>
          <!-- <b-dropdown-item @click="$router.push({name: 'Dashboard'})">На дашборд</b-dropdown-item> -->
          <b-dropdown-item @click="logout">Выход</b-dropdown-item>
        </b-dropdown>
      </b-navbar-nav>
    </b-navbar>
    <router-view />    
    <b-modal centered ref="switch-user">
      <div slot="modal-header">Сменить пользователя</div>

      <label>Выберите пользователя</label>
      <b-select v-model="selected" :options="options"></b-select>

      <div slot="modal-footer">
        <b-button @click="declineSwitchUser" class="mr-2" variant="danger">Отмена</b-button>
        <b-button :disabled="selected === null || selected === $store.state.currentUser" @click="acceptSwitchUser" variant="primary">Подтвердить</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data()
  {
    return {
      selected: null
    }
  },
  computed: {
    options() {
      let options = this.$store.state.users.map((element, idx) => {
        return { value: idx, text: element.login };
      });

      options = [{ value: null, disabled: true, text: 'Выберите пользователя'}, ...options]

      return options;
    }
  },
  methods: {   
    acceptSwitchUser() {
      console.log("switch accepted");      
      console.log(this.selected)
      
      this.$store.commit('selectUser', this.selected)
      console.log(this.$store.currentUser)
      this.$store.commit('randomizeCards', this.selected)
      this.$refs["switch-user"].hide();
      this.navigate('Dashboard')
    },
    declineSwitchUser() {
      console.log("switch declined");
      this.selected = this.$store.state.currentUser
      this.$refs["switch-user"].hide();
    },
    logout() {
      localStorage.removeItem("token");
      this.$router.push({ name: "login" });
    },
    showSwitchUserDialog() {
      this.$refs["switch-user"].show();
    },
    navigate(name) {
      if (this.$route.name !== name) {
        this.$router.push({ name });
      }
    },
    foo(option) {
      console.log(option);
    }
  }
};
</script>

<style lang="scss" scoped>
.dot2 {
  transform: translate(-16px, 8px);
}

.glyph .glyph-icon:before {
  font-size: 32px;
  color: #ffffff;
  margin-left: 0;
}

.glyph {
  background-color: #ffffff00;
  cursor: pointer;
}
</style>