<template>
  <div id="app">
    <div id="body">
      <router-view />
    </div>
    <div id="footer">
        <small>Icons made by
        <a
          href="https://www.flaticon.com/authors/smashicons"
          title="Smashicons"
        >Smashicons</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </small>
    </div>
  </div>
</template>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  min-height: 100%;
  position: relative;
}
#body {
  padding-bottom: 60px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Height of the footer */
  background: #333333;
  text-align: center;
  color: #aaaaaa;
}
</style>
